body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffcc00;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero {
    position: relative;
    text-align: center;
}

.main-image {
    width: 100%;
    max-width: 1920px; /* Ensures the image is not stretched */
    height: auto;
    transition: transform 0.3s ease;
}

.main-image:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(178, 23, 23);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta-button img {
    width: 400px; /* Set your desired button size */
    transition: transform 0.3s ease;
}

.cta-button img:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.info {
    padding: 20px;
    background-color: white;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
